* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-content: center;

    background: #0F0F12;
}

article {
    background: rgba(255,255,255,0.03);
    max-width: 600px;
    padding: 24px;
    box-sizing: border-box;
    width: 100vw;
    margin: 0 auto;
    outline: 1px solid #000;
}

@media (min-width: 600px) {

    article {
        padding: 64px;
    }
}

article * {
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin-top: 16px;
}

article a {
    color: #9393E5;
}

article h1, article h2 {
    padding-top: 32px;
}

article h1 {
    font-size: 28px;
}

article li {
    margin-top: 0;
    margin-left: 20px;
}